.certificate{
    flex: 4;
    padding: 5px;
    background-color: #F0F2F7;


}

.wrap_upgrade{
    justify-content: center;
    align-items: center;
    display: flex;
}
.view{
    justify-content: center;
    align-items: center;
    display: flex;
}

.display{
    justify-content: center;
    align-items: center;
    display: flex;
}


.upgrade{
    flex: 4;
    padding: 5px;
    background-color: #F0F2F7;
}
.upgrade_container{
    display: flex;

}



.dialog{
    width: 900px;
}
.heading{
    position: relative;
    left: 250px;
    display: flex;

    width: 500px;
    font-size: 30px;
    font-family: "Segoe UI";

}

.certLink{
    text-decoration: none;
    color: white;

}
.certIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
.level{
    position: relative;
    color: grey;


}
.status{
    position: relative;
    left: 10px;

}

.spinners{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


/*///////////////////////////////Upgrade////////////////////////////////*/


.upgradeTitle{
    position: relative;
    padding: 30px;
    display: flex;
    font-size: 30px;
    font-family: "Verdana";

}

.upgradeTitle1{
    color: slategrey;

}
.upgradeTitle2{
    margin-left: 10px;
    color: #373638;

}



.progress{
    display: flex;
    margin-left: 30px;


}

.progress_complete{

    background-color: #957b9e;
    width: 130px;
    height: 20px;
    margin-left:8px;
    border-radius: 5px;


}
.progress_empty{
    border: 1px solid black;
    width: 130px;
    height: 20px;
    margin-left: 8px;
    border-radius: 5px;

}

.progress6{
    margin-top: -7px;
    margin-left:8px;
}


.progress7{
    margin-top: -7px;
    margin-left:8px;
    background-color: #bc7dd1;
}

.progress_four{
    display: flex;
    margin-left: 30px;


}

.progress_complete_four{

    background-color: #957b9e;
    width: 130px;
    height: 20px;
    margin-left:8px;
    border-radius: 5px;


}
.progress_empty_four{
    border: 1px solid black;
    width: 130px;
    height: 20px;
    margin-left: 8px;
    border-radius: 5px;

}

.progress6_four{
    margin-top: -7px;
    margin-left:8px;
}


.progress7_four{
    margin-top: -7px;
    margin-left:8px;
    background-color: #bc7dd1;
}

.upgrade_card{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 600px;
    margin: 80px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.upgrade_cardd{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 800px;
    margin: 120px;
    margin-top: -40px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.upgrade_header{
    /*line-height: 1.2;*/
    text-align: center;
    margin-bottom: 49px;
    display: block;
    font-size: 16px;
    color: #7c6d81;
}



.upgrade_card1{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 600px;
    Height: 450px;
    margin: 80px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.upgrade_card11{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 800px;
    Height: 450px;
    margin: 120px;
    margin-top: 5px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.upgrade_card111{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 800px;
    Height: 450px;
    margin: 120px;
    margin-top: -40px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}


.wrapIt{
    display: flex;
    margin: 10px;
}
.WrapItsSocial{
    margin-left: 30px;
}
.upgrade_card_4{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 900px;
    Height: 450px;
    margin: 80px ;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}



.upgrade_card33{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 800px;
    Height: 450px;
    margin: 120px ;
    margin-top: -40px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.upgrade_card4{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 500px;
    height: 300px;
    margin: 130px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}



.upgrade_header1{
   /* line-height: 1.2;*/
    text-align: center;
    margin-bottom: 49px;
    display: block;
    font-size: 16px;
    color: #7c6d81;
}
.upgrade_header1{
    /* line-height: 1.2;*/
    text-align: center;
    margin-bottom: 49px;
    display: block;
    font-size: 20px;
    color: #7c6d81;
}
.upgrade_label{

    position: relative;
    margin: 5px;
    left: 10px;
    display: block;
    font-size: 14px;
    color: #7c6d81;
    width: fit-content;
    padding: 0 2px;
    background-color: white;
    transform: translate(6px,15px);
    z-index: 10;
}

.upgrade_label1{

    position: relative;
    margin: 5px;
    left: 10px;
    display: block;
    font-size: 14px;
    color: #7c6d81;
    width: fit-content;
    padding: 0 2px;
    background-color: white;
    transform: translate(6px,15px);
    z-index: 10;
}


.upgrade_label_logo{

    position: relative;
    margin: 5px;
    left: 10px;
    display: block;
    font-size: 14px;
    color: #7c6d81;
    width: fit-content;
    padding: 0 2px;
    background-color: white;
    transform: translate(6px,-1px);
    z-index: 10;
}

.helper{
    position: relative;
    float: right;
    padding:10px;
}

#level5{

    width: 130px;
    height: 130px;
    margin-left: 120px;

}

#complete_label1
{
    margin-left: -20px;
    font-size: 30px;
    color: #373638;
    font-weight: bold;

}


#complete_label2{
    font-size: 14px;
    background-color: #d9eee1;
    padding: 12px;
    width: 370px;
    border-radius: 8px;

}

.checkIcon{
    margin-bottom: -5px;
    margin-right: 5px;
    color: #04aa6d;

}

.social_media{
    display: flex;
}
.social_mediaa{
    display: flex;
}
.upgrade_Button{

    justify-content: center;
    align-items: center;
    display: flex;

}

.upgrade-btn{
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    width: 200px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: #957b9e;


}
.upgrade-btn:disabled,
.upgrade-btn[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
.upgrade-btn:disabled:hover{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;

}

.upgrade-btnn{
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    width: 230px;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    height: 40px;
    border: none;
    background-color: #957b9e;

}
.upgrade_date{
    position: relative;
    width:505px;
    height: 40px;
    padding: 6px;
    left:10px;
    border-radius: 5px;
    color: gray;
    margin-bottom: 10px;
    border: 2px solid #957b9e;

}

.upgrade_images{
    position: relative;
    width:505px;
    height: 40px;
    padding-top: 15px;

padding-left: 11px;
    left:10px;
    border-radius: 5px;
    color: gray;
    margin-bottom: 10px;
    border: 2px solid #957b9e;

}

.upgrade_datee{
    position: relative;
    width:650px;
    height: 55px;
    padding: 15px;
    left:10px;
    border-radius: 5px;
    color: gray;
    margin-bottom: 10px;
    border: 2px solid #957b9e;

}

.upgrade_logo{
    position: relative;
    width:500px;
    height: 55px;
    padding: 15px;
    left:10px;
    border-radius: 5px;
    color: gray;
    margin-bottom: 10px;
    margin-top: -16px;
    border: 2px solid #957b9e;

}
.upgrade_logoo{
    position: relative;
    width:650px;
    height: 55px;
    padding: 15px;
    left:10px;
    border-radius: 5px;
    color: gray;
    margin-bottom: 10px;
    margin-top: -16px;
    border: 2px solid #957b9e;

}
.upgrade-btn:hover{
    background-color: #9f8aa6;

}
.upgrade-btnn:hover{
    background-color: #9f8aa6;

}
.upgrade-btn:active {
    transform: translateY(4px);
}

.upgrade-btnn:active {
    transform: translateY(4px);
}



.date1{

    margin-top: 25px;
    width: 450px;
    display: flex;

}
.img_submit {

    width: 60px;
    height: 30px;
    background-color: #2d9499;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;


}

.file_submit {

    width: 60px;
    height: 30px;
    background-color: #2d9499;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 15px;


}


.img_submit:hover {
    background-color: #1f5759;
}
.file_submit:hover {
    background-color: #1f5759;
}

.loginError_certificate{
    color: red;
    font-size: 14px;
    float: right;


}

.profile_files{

    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.empty_space{
   color: white;

}

.trythis{
    display: flex;
}

.images_header{
    text-align: center;
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    color: #7c6d81;
}



